<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% if @counter && @counter > 5 %>
<p>
  You have viewed this page <%= pluralize(@counter, 'time') %>!
</p>
<% end %>

<ul class="catalog">
  <% cache @products do %>
    <%= render @products %>
  <% end %>
</ul>
